@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: white;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: 'Mooli', san-serif;
}

a{
 color: #FFF; 
}
header{
    background-color: #51489c;
    color: beige;
    padding: 0;

}
body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    background-color: #EBEBEE;
}
  
h1{
    text-align: center;
}

h2{
    color: #333;
    text-align: center;

}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem; 
}
footer{
    background-color: #51489c;
    color: white;
}
img{
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 10px solid white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}
.gallery{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    margin: 0;
    padding: 0;
    gap: 30px;
    justify-items: center;
    place-items: center;
}
#menu-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #51489c;
    text-decoration: none;
    color: white;
    width: 100%;
    
}
.viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    z-index: 1;
}

.viewer img {
    max-height: 80%;
    max-width: 80%;
    background-color:  rgba(0, 0, 0, 0.75);
    border: 10px solid; 
    padding: 25px;
    background-color: white;
}

.viewer .close-viewer {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}


@media screen and (min-width: 700px) {
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    #menu-button{
        display: none; 
      } 
      .viewer img {
        margin: 0 auto;
        height: auto;
        width: 100%;
        max-height: 100%;
        max-width: min(100%, 800px);
        background-color:  rgba(0, 0, 0, 0.55);
        border: none;
        }
     
     
}
@media screen and (max-width: 700px){
    header nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    header nav ul.hide {
        display: none;
    }
    header nav ul:not(.hide) {
        display: flex;
    }
    .viewer img {
        margin: 0 auto;
        height: auto;
        width: 100%;
        max-height: 100%;
        max-width: min(100%, 800px);
        background-color: transparent;
        border: none;
        padding: 25px;
        }
          
}


@media  screen and (min-width: 1000px ) {
    
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu-button{
        display: none; 
      }
      .viewer {
        padding: 20px;
    }
    .viewer img {
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-height: 100%;
    max-width: min(100%, 800px);
    background-color:  rgba(0, 0, 0, 0.55);
    border: none;
    }
      
    
}
