 h2{
    color: #006EB6;
    letter-spacing: .2rem;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
}
h1{
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;
}
.content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 95px;
}
p, .list{
    text-align: left;
    line-height: 1.5;
    letter-spacing: 1px;
   
}
.list-item{
    margin-bottom: 20px;
}
li{
   line-height: 1.5; 
   margin-bottom: 20px;
}
.logo{
    width: 130px;
    display: block;
    margin: 0 auto;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
.dark{
    background-color: #333;
    color: white;
}
.dark h2 {
    color: #76c8ff;
}
