@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


:root {
    --gold-color: #efc69b;
    --red-color: #af1b3f;
    --dark-color: #473144;
    --body-font: Helvetica, Arial, sans-serif;
    --headline-font: Lora, Impact, serif;
    --container-max-width: 60rem;
    --element-min-spacing: 1rem;
    --layout-threshold: 650px;
}

body {
    color: var(--dark-color);
    font-family: var(--body-font);
    margin: 0 auto;
    padding: 0 var(--element-min-spacing);
    max-width: var(--container-max-width);
}
h1 {
    text-align: center;
}
h2, h3 {
    margin-top: var(--spacing-larger);
}
h3, h4 {
    text-align: right;
    margin-bottom: var(--spacing-smaller);
}
h4 {
    margin-top: var(--spacing-smaller);
}
h1, h2, h3, h4 {
    font-family: var(--headline-font);
}

nav {
    border-top: solid var(--gold-color);
    border-bottom: solid var(--gold-color);
    padding: var(--element-min-spacing) 0;
    text-align: right;
}
nav, h2 {
    color: var(--red-color);
}
a {
    color: inherit;
    margin: 0 var(--element-min-spacing);
    text-decoration: none;
}
img {
    display: block;
    margin: 0 auto;
}
aside {
    border: solid var(--gold-color);
    margin: var(--element-min-spacing) 0;
    padding: 0 var(--element-min-spacing);
}

.box {
    display: grid;
}
.top-right {
    grid-row: 1/2;
}
.display {
    grid-row: 3/4;
}
.filter-right {
    grid-row: 2/3;
}

.review {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    margin: var(--element-min-spacing) 0;
}

.skiptocontent a {
    position: absolute; 
    top: -40px;
    left: 0;
    background-color: var(--red-color);
    color: var(--gold-color);
}
.skiptocontent a:focus {
    top: 0;
}


:root {
    --layout-threshold: 768px; 
  }
  
  .left-secondary-pane {
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: solid var(--gold-color);
    padding-right: var(--spacing-larger);
    justify-content: right;
}
.right-primary-pane {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: var(--spacing-larger);
}
