:root {
    --button-width: 75px;
    --button-height: 30px;
    --card-grid-gap: 10px;
    --card-padding: 15px;
    --card-width: 8.56;   
    --card-height: 5.398;  
    --form-grid-gap: 15px;
    --px-to-cm: 37.8px; 
  }
#front-card, #back-card{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: var(--card-grid-gap);
  box-sizing: border-box;
  width: calc(var(--card-width) * var(--px-to-cm));
  height: calc(var(--card-height) * var(--px-to-cm));
  padding: var(--card-padding);
  border: thin solid #bbb;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #ccc;
  background-color: #ddd;
}
#button {
  grid-column: 3/4;
  grid-row: 4/5;
  width: 75px;
  height: 30px;
  border: thin solid #757575;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #222;
  background-color: #efefef;
}
label {
  display: block;
  color: #333;
  font-family: 'serif';
  font-size: small;
  text-transform: uppercase;
}

#front-card {
  grid-column: 1/3;
  grid-row: 1/3;
  z-index: 1;
}
#back-card {
  grid-column: 2/4;
  grid-row: 2/4;
  position: relative;
}
#total-display {
  grid-column: 1/2;
  grid-row: 1/2;
}
#card-image {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: right;
}
#number-container {
  grid-column: 1/3;
  grid-row: 2/3;
}
#holder-container {
  grid-column: 1/2;
  grid-row: 3/4;
}
#expiration-container {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
}
#cvv-container {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-content: right;
  text-align: right;
}
#number-container, #holder-container, #expiration-container, #cvv-container {
  display: flex;
  align-items: center;
}
#total-display, #card-image {
  display: flex;
  align-items: center;
}
#stripe {
  grid-column: 1/3;
  grid-row: 1/2;
  position: absolute;
  right: 0;
  width: 100%;
  height: 40px;
  margin-right: calc(var(--card-padding) * -1);
  background-color: #444;
}

.label-input-pair {
  box-sizing: border-box;
  width: 100%;
}

#number, #holder {
  box-sizing: border-box;
  width: 100%;
}
#expiration {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}
#month, #year {
  width: 35%;
}
#cvv {
  width: 60%;
}
form {
    display: grid;
    grid-template-columns: 1fr 3fr var(--button-width);
    grid-template-rows: 1fr 9fr 1fr var(--button-height);
    gap: var(--form-grid-gap);
    width: calc(
      calc(var(--card-width) * var(--px-to-cm)) + 
      var(--form-grid-gap) + 
      var(--button-width)
    );
  }